In [1]:
%matplotlib inline
from IPython.display import display
import pandas as pd

Conversion of the Data into OxCal-usable Form

In [2]:
df = pd.read_csv("../data/CARD.csv", encoding='utf8')
display(df.head())

,LABNR,C14AGE,C14STD,C13,MATERIAL,SITE,FEATURE,FEATURE_DESC,LAT,LONG,SOURCE
0,Bdy-306,1990,210,0.0,NaN,Batalimo,NaN,Trench,3.675942,18.455022,Zangato 2000
1,Gif-5894,1590,90,0.0,Charcoal,Batalimo,NaN,Trench,3.675942,18.455022,"de Maret 1985, Eggert 1993"
2,OxTL-154a-4,1570,220,0.0,NaN,Batalimo,NaN,Trench,3.675942,18.455022,"de Bayle des Hermens 1975, 233; Eggert 1987"
3,KI-2893,1960,90,-27.1,Charcoal,Likwala-Esobe km 186,LKW 186 87/186,Pit,-0.048312,17.406785,Eggert 1993
4,KI-2881,1990,45,-25.1,Elaeis guineensis,Munda,MUN 87/2-1-1,Furnace,1.162608,17.356948,Eggert 1993

Choosing only the first five entries as subsample:

In [4]:
df_sub = df.head()

OxCal-compliant output:

In [5]:
print('''Plot()
{''')
for index, row in df_sub.iterrows():
    print('R_Date("', row['SITE'],'-', row['LABNR'],'",', row['C14AGE'],',', row['C14STD'],');')
print('};')

Plot()
{
R_Date(" Batalimo - Bdy-306 ", 1990 , 210 );
R_Date(" Batalimo - Gif-5894 ", 1590 , 90 );
R_Date(" Batalimo - OxTL-154a-4 ", 1570 , 220 );
R_Date(" Likwala-Esobe km 186 - KI-2893 ", 1960 , 90 );
R_Date(" Munda - KI-2881 ", 1990 , 45 );
};